name: Build LaTeX CV

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Compile LaTeX Document
        uses: xu-cheng/latex-action@v2
        with:
          root_file: main.tex
          working_directory: LateX
          compiler: xelatex
          args: "-pdf -file-line-error -interaction=nonstopmode"

      - name: Rename PDF
        run: mv LateX/main.pdf LateX/Jerry_Chen_CV.pdf

      - name: Upload PDF to Release
        uses: softprops/action-gh-release@v1
        if: github.ref == 'refs/heads/main'
        with:
          tag_name: latest
          files: LateX/Jerry_Chen_CV.pdf
          body: "Latest compiled CV from main branch."
          token: ${{ secrets.GITHUB_TOKEN }}
